--------estilo emcabezado-------
header{
    background-color: rgb(252, 233, 208);
    padding: 20px;
    text-align: center;
    color: black;
}
nav a{
    color: black;
    text-decoration: none;
    margin: 0.15 px;
    font: font-weight bold;
}

nav a:hover{
     color: chocolate;
}
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 130.1);
}
.contenedor h2{
    color: rgb(53, 48, 68);
}
.contenedor p{
    color: rgb(7, 104, 20);
    font-size: 16px;
    line-height: 1.6;
}
fronter{

background-color: rgb(77, 9, 9);
color: white;
text-align: center;
padding: 10px 0;
margin-top: 20;
}